{% extends 'layouts/app.twig' %}


{% block content %}
    <main class="container auto">
        <h1 class="page-title">
            {% if search_query %}
                {{ __('Search Results') }} <span>{{ __('voor', 'agws') }}: {{ search_query }}</span>
            {% else %}
                {{ __('Search Results') }}
            {% endif %}
        </h1>

        {% if posts|length > 0 %}
        <section class="grid">
            {% for post in posts %}
                <article class="search-result col-6">
                    <h3 class="search-results--title">
                        <a href="{{ post.link }}">
                            {{ post.title }}
                        </a>
                    </h3>

                    <p class="search-results--content">
                        {{ post.content|striptags|excerpt(25) }}
                    </p>
                </article>
            {% endfor %}
        </section>
        {% else %}
        <p>
            {{ __('Er zijn (nog) geen producten die aan deze zoekterm voldoen', 'agws') }}
        </p>
        {% endif %}
    </main>
{% endblock %}
