<div class="js-ie-only-banner ie-only-banner" style="display: none">
    <div class="container auto content">
        <h2>
            {{ __('Let op: Je gebruikt een verouderde browser.') }}
        </h2>
        <p>
            {{ __('Deze browser is niet meer volledig ondersteund. Maak gebruik van een andere optie, zoals google chrome.', 'agws') }}
        </p>
    </div>
</div>

<!-- Header topper -->
<header class="header content">
    <div class="container auto flex size-full">
        <span class="header-usp">
            <i class="fas fa-check"></i> {{ __('Bestel nu onze diensten en producten snel en eenvoudig online', 'agws')}}
        </span>

        <nav class="ml-auto top-navigation">
            {% for item in topMenu.items %}
                {% set _icon = fn('carbon_get_nav_menu_item_meta', item.id, 'crb_menu_icon') %}
                {% set _shoppingBubble = fn('carbon_get_nav_menu_item_meta', item.id, 'crb_has_shopping_bubble') %}
                <a class="top-navigation-item" href="{{ item.link }}" title="{{ item.title }}">
                    {% if _icon %}
                        <i class="{{ _icon|replace({'_': ' '}) }}"></i>
                    {% endif %}
                    <span class="not-mobile">
                        {{ item.title }}
                    </span>

                    {% if _shoppingBubble %}
                        <small class="badge top right white js-cart-amount" data-amount="{{ wc_cart_count }}">({{ wc_cart_count }})</small>
                    {% endif %}
                </a>
            {% endfor %}
        </nav>
    </div>
</header>
