<div class="product-content" id="eigenschappen">
    <h3>Eigenschappen</h3>
    <table>
        <tbody>
        {% for attribute in product.get_attributes %}
            {% if attribute.get_visible %}
                {% set _attributes = fn('get_the_terms', post.ID, attribute.get_name) %}
                <tr class="product-attributes_{{ attribute.get_name|replace({'pa_': ''}) }}">
                    <td> {{ attribute.get_name|replace({'pa_': ''})|capitalize }}:</td>
                    <td>
                        {% for _attribute in _attributes %}
                            <span data-attribute="{{ attribute.get_name|replace({'pa_': ''}) }}" data-value="{{ _attribute.slug }}">{{ _attribute.name }}{% if not loop.last %},{% endif %} </span>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
