{% if not _product %}
    {% set _product = fn('wc_get_product', product.ID) %}
{% endif %}

<article class="product-card--vertical product-card">
    <figure>
        <a href="{{ product.link }}">
            <img class="product-card--v--image" src="{{ product.thumbnail('medium') }}" alt="{{ product.thumbnail.alt?? product.title }}" />
        </a>
    </figure>
    <main class="product-card--v--content">
        <h3 class="product-card--v--title">
            <a href="{{ product.link }}" title="Bekijk {{ product.title }}">
                {{ product.title }}
            </a>
        </h3>
        <p class="product-card--v--excerpt">
            {{ product.post_excerpt }}
        </p>
        <a href="{{ product.link }}" title="Bekijk {{ product.title }}" class="product-card--v--price">
            v.a. &euro; {{ _product.get_price }}
        </a>
        <footer class="product-card--v--footer">
            <a href="{{ product.link }}" title="Bekijk {{ product.title }}" class="product-card--v--more-info">
                Meer informatie
            </a>

                <form class="js-add-to-cart-form product-card--v--add-to-cart-form ml-auto">
                    <input type="hidden" id="add-to-cart" name="add-to-cart" value="{{ product.ID }}" />
                    <input type="hidden" id="quantity" name="quantity" value="1" />
                    {% if _product.get_type is not same as('variable') %}
                        <button type="submit" class="product-card--add-to-cart product-card--v--add-to-cart">
                            <i class="fas fa-shopping-cart"></i> Bestellen
                        </button>
                        {% else %}
                            <a href="{{ product.link }}" class="product-card--add-to-cart product-card--v--add-to-cart product-card--v-add-to-options product--card--add-to-options">
                            Kies opties
                        </a>
                    {% endif %}
                </form>
        </footer>
    </main>
</article>
