<table class="table table--checkout--review-order woocommerce-checkout-review-order-table" id="order_review">
    <thead class="table-header table-header--checkout--review-order"></thead>

    <tbody class="table-body table-body--checkout--review-order">
        {% for key, product in cart_items %}
            {% set _product = fn('wc_get_product', product.product_id) %}
            {% set _thumb = Image(_product.get_image_id) %}
            {% if product.variation_id > 0 %}
                {% set _variation = fn('wc_get_product', product.variation_id) %}
            {% else %}
                {% set _variation = false %}
            {% endif %}

            <tr class="table-row table-row--checkout--review-order">
                <td class="checkout-thumbnail">
                    <img alt="{{ _product.get_name }}" class="checkout-thumbnail--image" src="{{ _thumb.src('thumbnail') }}">
                </td>

                <td class="checkout-title" data-title="{{ __('Product', 'woocommerce') }}">
                    <a href="{{ _product.get_permalink }}" target="{{ _product.get_slug }}">
                        {{ product.data.get_name }}
                    </a>
                </td>

                <td class="checkout-qty" data-title="{{ __('Quantity', 'woocommerce') }}">
                    <span class="checkout-bordered-qty">
                        {{ product.quantity }}
                    </span>
                </td>

                <td class="checkout-price checkout-price--subtotal" data-title="{{ __('Subtotal', 'woocommerce') }}">
                    {% if _variation %}
                        {{ cart.get_product_subtotal(_variation, product.quantity) }}
                    {% else %}
                        {{ cart.get_product_subtotal(_product, product.quantity) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    {% do action('woocommerce_review_order_after_cart_contents') %}
    </tbody>


    <tfoot class="table-footer table-footer--checkout--review-order woocommerce-checkout-review-order-table">
        {% do action('woocommerce_review_order_before_shipping') %}
        {{ fn('wc_cart_totals_shipping_html') }}
        {% do action('woocommerce_review_order_after_shipping') %}

        <tr class="table-row table-row--checkout--footer">
            <th class="table-head table-head--checkout--footer" colspan="3">
                Subtotaal
            </th>
            <td class="checkout-subtotal checkout-price">
                {{ fn('wc_cart_totals_subtotal_html') }}
            </td>
        </tr>

        <tr class="table-row table-row--checkout--footer">
            <th class="table-head table-head--checkout--footer" colspan="3">
                BTW 21%
            </th>
            <td class="checkout-subtotal checkout-price">
                {{ fn('wc_cart_totals_taxes_total_html') }}
            </td>
        </tr>

        {% do action('woocommerce_review_order_before_order_total') %}
        <tr class="table-row table-row--checkout--footer">
            <th class="table-head table-head--checkout--footer" colspan="3">
                Totaal
            </th>
            <td class="checkout-subtotal checkout-price">
                {{ fn('wc_cart_totals_order_total_html') }}
            </td>
        </tr>
        {% do action('woocommerce_review_order_after_order_total') %}
    </tfoot>
</table>
