
<div class="container auto">
    {% do action('woocommerce_before_cart') %}
    <h1 class="page-title mobile-padded">
        Winkelwagen
    </h1>

    <form action="{{ cart_url }}" method="post">
        {% do action('woocommerce_before_cart_table') %}
        <table class="table--cart table">
            <thead class="table-header table-header--cart">
                <tr>
                    <!-- Delete product -->
                    <th>&nbsp;</th>
                    <!-- Thumbnail product -->
                    <th>&nbsp;</th>
                    <th>Product</th>
                    <th>Prijs</th>
                    <th>Aantal</th>
                    <th>Totaal</th>
                </tr>
            </thead>
            <tbody class="table-body table-body--cart">

            {% for key, product in cart_items %}
                {% set _product = fn('wc_get_product', product.product_id) %}
                {% set _thumb = Image(_product.get_image_id) %}
                <tr class="table-row--cart table-row">
                    <td class="cart-delete" data-title="{{ __('Remove', 'woocommerce') }}">
                        <a href="{{ fn('wc_get_cart_remove_url', key) }}"
                           class="fa-stack fa-xs" data-product_id="{{ _product.get_id }}"
                            data-product_sku="{{ _product.get_sku }}">
                            <i class="fas fa-circle fa-stack-2x cart-delete--circle"></i>
                            <i class="fas fa-times fa-stack-1x cart-delete--times"></i>
                        </a>
                    </td>

                    <td class="cart-thumbnail">
                        <img src="{{ _thumb.src('thumbnail') }}" alt="{{ _product.get_name }}" class="cart-thumbnail--image">
                    </td>

                    <td class="cart-title" data-title="{{ __('Product', 'woocommerce') }}">
                        {{ product.data.get_name }}
                    </td>

                    <td class="cart-price cart-price--single" data-title="{{ __('Price', 'woocommerce') }}">
                        {{ cart.get_product_price(_product) }}
                    </td>

                    <td data-title="{{ __('Quantity', 'woocommerce') }}" class="cart-qty">
                        {% set _qty = fn(
                            'woocommerce_quantity_input',
                            {
                                'input_name': 'cart[' ~ key ~ '][qty]',
                                'input_value': product.quantity,
                                'max_value': _product.get_max_purchase_quantity,
                                'min_value': 0,
                                'product_name': _product.get_name
                            },
                            _product,
                            false
                            ) %}
                        {{
                            _qty|apply_filters('woocommerce_cart_item_quantity', _qty, key, product)
                        }}
                    </td>

                    <td class="cart-price cart-price--subtotal" data-title="{{ __('Subtotal', 'woocommerce') }}">
                        {{ cart.get_product_subtotal(_product, product.quantity) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="table-footer--cart table-footer">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="cart-totals" data-title="{{ __('Total', 'woocommerce') }}">
                    {{ fn('wc_cart_totals_order_total_html') }}
                </td>
            </tr>
            </tfoot>
        </table>

        <button type="submit" class="btn" name="update_cart" value="{{ __('Update cart', 'woocommerce') }}" style="display: none;">
            {{ __('Update cart', 'woocommerce') }}
        </button>

        {{ fn('wp_nonce_field', 'woocommerce-cart', 'woocommerce-cart-nonce') }}
        {% do action('woocommerce_after_cart_table') %}
    </form>
</div>

{% do action('woocommerce_before_cart_collaterals') %}

<div class="container auto">
    <section class="cart-container--button">
        <a href="{{ fn('wc_get_checkout_url') }}" class="cart-proceed-to-checkout">
            afrekenen
        </a>
    </section>
</div>
{% do action('woocommerce_after_cart') %}
