<nav class="product-tabs-container">
    <button class="js-product-tab product-tabs product-tabs--active" data-target="#description">
        <i class="fas fa-align-left"></i> Omschrijving
    </button>
    {% if product.get_attributes %}
        <button class="js-product-tab product-tabs" data-target="#eigenschappen">
            <i class="fas fa-bookmark"></i> Eigenschappen
        </button>
    {% endif %}
    {% if post.get_field('faq') %}
        <button class="js-product-tab product-tabs" data-target="#faq">
            <i class="fas fa-question"></i> Veelgestelde vragen
        </button>
    {% endif %}
    {% if product.get_review_count > 0 or product.get_reviews_allowed %}
        <button class="js-product-tab product-tabs" data-target="#review">
            <i class="fas fa-star"></i> Reviews ({{ product.get_review_count }})
        </button>
    {% endif %}
</nav>
<section class="tab-content">
    {{ include('partials/woocommerce/product/tabs/description.html.twig') }}

    {% if product.get_attributes %}
        {{ include('partials/woocommerce/product/tabs/attributes.html.twig') }}
    {% endif %}

    {% if post.get_field('faq') %}
        {{ include('partials/woocommerce/product/tabs/faq.html.twig') }}
    {% endif %}

    {% if product.get_review_count > 0 or product.get_reviews_allowed %}
        {{ include('partials/woocommerce/product/tabs/reviews.html.twig') }}
    {% endif %}
</section>
